* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100vw;
    height: 45px;
    border: 2px solid rgb(219, 57, 57);
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-items: center;
    word-spacing: 25px;
}

header nav ul li {
    display: inline-block;
}

a:hover {
    background-color: white;
    color: black;
}

nav ul li a {
    color: white;
    ;
}

a {
    text-decoration: none;
}

.btn {
    text-align: center;
    position: relative;
    left: 310px;
    width: 90px;
    background-color: rgb(142, 206, 142);
    color: black;

}

.btn:hover {
    background-color: white;
}

#img {
    width: 136px;
    height: 50px;
    position: relative;
    right: 315px;
}

.bar {
    background-color: rgb(219, 209, 196);
    color: black;
    width: 100vw;
    height: 30px;
    margin: 2px;
    word-spacing: 20px;
    text-align: center;
    font-size: larger;
}

div ul li {
    display: inline-block;
    justify-content: center;
}

div ul li a {
    text-decoration: none;

}

.aa:hover {
    background-color: rgb(112, 21, 21);
    color: rgb(255, 254, 254);
}

div ul li a input {
    border: 2px solid black;
    border-radius: 5%;
}

#main {
    min-height: calc(100vh - 12vh - 45px);
}

.bgimg {
    width: 70vw;
    height: 70vh;
    padding-top: 1px;
    padding-left: 15vw;
    padding-right: 15vh;
}

.card1 {
    background-color: rgb(228, 197, 156);
    display: inline-block;
    max-width: 95vw;
    margin: 1px 80px;
}

.card1-item {
    display: inline-block;
    text-align: center;
    justify-content: center;
    overflow-x: scroll;
    flex-direction: row;
}

.item-btn {
    background-color: rgb(16, 80, 16);
    color: white;
    width: 100px;
    border: 2px solid black;
    border-radius: 6px;
}
.item-btn:hover {
background-color: black;
color: white;
}

.item-img {
    width: 100px;
    height: 100px;
}

.icn {
    font-size: x-large;


}

.fa-brands {
    color: white;
    width: 40px;
}

.fa-whatsapp {
    color: rgb(28, 209, 28);
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: blue;
}

.fa-instagram {
    color: rgb(245, 83, 34);
}

.fa-youtube {
    color: red;
}

.fa-tiktok {
    color: black;
    background-color: azure;
}

.fa-whatsapp:hover {
    background-color: white;
    color: rgb(3, 82, 3);
}

footer {
    width: 100vw;
    height: 12vh;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;

}